{% extends "_layout.html" %}

{% block content %}
    <h2>Это профиль</h2>
    <table>
        <thead>
            <tr>
                <th>Курс</th>
                <th>Дата</th>
                <th>Оплата</th>
                <th>Статус</th>
                <th>Оставить отзыв</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.course }}</td>
                    <td>{{ record.date }}</td>
                    <td>{{ record.payment }}</td>
                    <td>{{ record.status }}</td>
                    <td>
                        {% if record.review %}
                            {{record.review}}
                        {% elif record.status == "Обучение завершено" %}
                            <form method="post" action="/update/{{ record.id }}">
                                <textarea name="review" cols="30" rows="10"></textarea>
                                <button type="submit">Отправить</button>
                            </form>
                        {% else %}
                            Сначала нужно пройти обучение
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}