{% extends "_layout.html" %}

{% block content %}
  {% if error %}
    <span style="color: red">{{ error }}</span>
  {% endif %}
  <form action="/register" method="post">
    <label>Логин
      <input type="text" name="login" placeholder="Логин" PATTERN="[a-zA-Z0-9]{6,}">
    </label>

    <label>Email
      <input type="email" name="email" placeholder="Email">
    </label>

    <label>Пароль
      <input type="password" name="password" placeholder="пароль">
    </label>

    <label>ФИО
      <input type="text" name="fio" placeholder="ФИО" pattern="">
    </label>

    <label>Телефон
      <input type="text" name="phone" placeholder="Телефон">
    </label>

    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}